# Dependencies
node_modules/
.venv/
env/
venv/
__pycache__/
*.pyc

# Next.js build output
.next/
out/
build/
dist/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# Store / OS files
.DS_Store
Thumbs.db
